.text-center{
	text-align: center;
}

.img-icon-sm{
	display: inline-block;
	width: 20px;
	height: 12px;
	background-repeat: no-repeat;
	background-size: contain;
}

.sidebar-menu li{
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.dataTables_processing { z-index: 1; }